/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.coin, .overview, .bList {
    margin: 0 1.5% 24px 1.5%;
}

.coin {
    float: left;
    width: 500px;
}


.gold {
    margin-left: 150px;
}

.gps {
    margin-left: 150px;
}

.bList {
    float: right;
    
}

.err {
    background: gray;
}
