/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.coin, .overview, .bList {
    margin: 0 1.5% 24px 1.5%;
}

.coin, .overview{
    float: left;
    width: 400px;
}

.overview {
    margin-left: 40px;
    width: 450px;
}



.gold, .gps, .gpc {
    margin-left: 90px;
}

.bList {
    float: right;
    width: 450px;
    
}

.animate-hide {
  transition: all linear 0.5s;
  opacity: 1;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
}

.image { 
   position: relative; 
   width: 100%; 
}

.cost { 
   position: absolute; 
   top: 70px; 
   right: 10px;
   
}

.upCost {
    position: absolute;
    top: 75px;
    left: 5px;
}

.cost, .upCost {
    font-size: 20px;
    font-weight: bold;
    color: green;
    opacity: 0.7;
}

.number {
    font-size: 50px;
    font-weight: bold;
    color: gray;
    opacity: 0.7; 
    position: absolute;
    right: 10px;
    top: -10px;
    opacity: 0.7;  
}

ul {
     list-style-type: none;
}

.box {
  float: left;
  margin: 3px;
}
.after-box {
  clear: left;
}